@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo ProjectT</h1>
    <p class="lead">Browse menu options for different functionalities. Person Details would display the person list filtered by dropdown,
    and, the WebAPI link is a REST service that returns a JSON document if called by a AJAX call. If accessed through a browser, you can read it as XML.</p>
    <p>Few improvements left would be pagination and retaining the dropdown value, which is left as it is due to time constraints.</p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
</div>